* {padding: 0; margin: 0;}

.header {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

/*TOP LOGO & NAVIGATION BAR*/
.navbar {
    position: fixed;
    margin: auto;
    float: left;
    background-color: #000000;
    width: 100%;
}

.navbar li {
    float: left;
    display: flex;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
    font-family: "Anton";
    font-weight: 500;
    font-size: 25px;
}

.navbar li a:hover {
    background: azure;
    color: black;
}

.navbar ul {
    padding-right: 230px;
    justify-content: center;
    display: flex;
}

.logo {
    float: left;
    width: 20%;
}

.logo2 {
    display: none;
}

/*SECTION: TOP video LOGO*/
.top-video-title {
    margin-top: 54px;
    background-color: azure;
    width: 100%;
    height: 25vh;
    justify-content: center;
    display: flex;
}
.top-video-title .top-video-title-text {
    padding-top: 20px;
    font-family: "Anton";
    font-weight: 500;
    font-size: 80px;
    color: black;
}

/*SECTION: video LIST*/
.video-container {
    background-color: black;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
}
.video-gallery {
    padding-top: 40px;
    padding-left: 110px;
    width: 90%;
    justify-content: center;
    z-index: 2;
}
.video-gallery .videos iframe {
    margin: 15px;
    width: 350px;
    height: 196px;
    float: left;
}

/*BOTTOM SOCIALS*/
.bottom-nav {
    bottom: 0;
    position: fixed;
    margin: auto;
    float: left;
    background-color: #000000;
    width: 100%;
    height: 8vh;
    z-index: 3;
}
.bottom-nav ul {
    justify-content: center;
    display: flex;
    float: left;
}
.bottom-nav li {
    justify-content: center;
    display: flex;
    padding: 3px;
}
.bottom-nav .social-media-icons {
    justify-content: center;
    display: flex;
}
.bottom-nav .social-media-icons li a {
    padding: 0;
}
.bottom-nav .social-media-icons img {
    width: 100%;
}

/*RESPONSIVE*/
@media screen and (max-width: 767px) {
    /*TOP LOGO & NAVIGATION BAR*/
    .navbar {
        position: fixed;
        margin: auto;
        float: left;
        background-color: #000000;
        width: 100%;
        z-index: 4;
    }

    .navbar li {
        float: left;
        display: flex;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 8px;
        display: block;
        font-family: "Anton";
        font-weight: 500;
        font-size: 22px;
    }

    .navbar li a:hover {
        background: azure;
        color: black;
    }

    .navbar ul {
        padding-left: 180px;
        justify-content: center;
        display: flex;
    }

    .logo {
        float: left;
        width: 20%;
        display: none;
    }

    .logo2 {
        float: left;
        width: 12%;
        display: block;
        position: absolute;
    }

    /*SECTION: TOP video LOGO*/
    .top-video-title {
        margin-top: 54px;
        background-color: azure;
        width: 100%;
        height: 18vh;
        justify-content: center;
        display: flex;
    }
    .top-video-title .top-video-title-text {
        padding-top: 17px;
        font-family: "Anton";
        font-weight: 500;
        font-size: 60px;
        color: black;
    }

    /*SECTION: video LIST*/
    .video-container {
        background-color: black;
        width: 100%;
        height: 185vh;
        justify-content: center;
    }
    .video-gallery {
        padding-top: 10px;
        padding-left: 40px;
        width: 100%;
        justify-content: center;
        z-index: 2;
    }
    .video-gallery .videos iframe {
        margin: 10px;
        width: 250px;
        height: 196px;
        float: left;
    }
}